{% load static %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title" style="text-align: center;">So'nggi yangiliklar</h2>

                </div>
            </div>
            {% for rs in article_latest %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="article article-single">
                    <div class="article-thumb">
                        <a href="/post/{{ rs.id }}/{{ rs.slug }}/" class="main-btn quick-view"><i class="fa fa-search-plus"></i>Ko'rish</a>
                        <img src="{{ rs.image.url }}" style="height: 200px" alt="">
                    </div>
                    <div class="article-body">

                         <div>
                                <div class="product-rating">
                                    <i class="fa fa-star{% if rs.avaregereview < 1%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 2%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 3%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 4%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 5%}-o empty{% endif%}"></i>
                                    {{ rs.avaregereview |stringformat:".2f"}}
                                </div>

                            </div>

                        <h2 class="article-name"><a href="/post/{{ rs.id }}/{{ rs.slug }}/" >{{ rs.title }}</a></h2>
                        <div class="article-btn">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title" style="text-align: center;">Siz uchun maxsus</h2>

                </div>
            </div>
            {% for rs in article_picked %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="article article-single">
                    <div class="article-thumb">
                        <a href="/post/{{ rs.id }}/{{ rs.slug }}/" class="main-btn quick-view"><i class="fa fa-search-plus"></i>Ko'rish</a>
                        <img src="{{ rs.image.url }}" style="height: 200px" alt="">
                    </div>
                    <div class="article-body">

                        <div>
                                <div class="product-rating">
                                    <i class="fa fa-star{% if rs.avaregereview < 1%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 2%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 3%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 4%}-o empty{% endif%}"></i>
                                    <i class="fa fa-star{% if rs.avaregereview < 5%}-o empty{% endif%}"></i>
                                    {{ rs.avaregereview |stringformat:".2f"}}
                                </div>

                            </div>

                        <h2 class="article-name"><a href="/post/{{ rs.id }}/{{ rs.slug }}/" >{{ rs.title }}</a></h2>
                        <div class="article-btn">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

