{% load static %}
<footer id="footer" class="section-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer">
                  <div class="footer-logo">
                      <a class="logo" href="#">
                          <img src="{% static '0.png' %}" alt="">
                      </a>
                      <p>Bu sayt Biz tomondan yaratilmoqda</p>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                      </ul>
                  </div>
              </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Account</h3>
                        <ul class="list-links">
                            <li><a href="#">My Account</a></li>
                             <li><a href="#">My Wishlist</a></li>
                             <li><a href="#">Login/Sign Up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-sm visible-xs"></div>
                <div class="footer">
                    <h3 class="footer-header">News site</h3>
                    <ul class="list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ</a></li>

                    </ul>
                </div>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Contact </h3>
                    <p>Biz bilan bog'laning</p>
                    <form>
                        <div class="form-group">
                            <input class="input"placeholder="Emailni kiriting:" type="text">
                        </div>
                        <button class="primary-btn">Xat yuborish</button>
                    </form>
                </div>

            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="footer-copyright">
                    SDeVPro
                </div>
            </div>
        </div>
    </div>

</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>