{% load static %}
<header>

    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>MyBlogga xush kelibsiz!</span>
            </div>
            <div class="pull-right">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Xabar yuborish</a></li>
                    <li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">UZ<i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">O'zbekcha(O'zb)</a></li>
                            <li><a href="#">Russian(Ru)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <div class="header-logo">
                    <a class="logo" href="index.html">
                        <img src="{% static '0.png' %}" alt="">
                    </a>
                </div>
                <script>

                       $(function()
                         {$("#query").autocomplete({
                          source: "/search_auto/",
                          select: function (event, ui) { //item selected
                          AutoCompleteSelectHandler(event, ui)
                           },
                          minLength: 2,
                             });
                         });

                          function AutoCompleteSelectHandler(event, ui)
                         {
                            var selectedObj = ui.item;
                          }

                    </script>
					<!-- Search -->
					<div class="header-search">
						<form action="/search/" method="post">
                            {% csrf_token %}
							<input id="query" name="query" class="input search-input" type="text" placeholder="Enter your keyword">
							<select name="catid" class="input search-categories">
								<option value="0">Maqola turlari</option>

                                {% for rs in category %}
                                    {% if rs.is_leaf_node %}
                                         <option value="{{ rs.id }}">{{ rs.title }}</option>
                                    {% endif %}
                                    {% if not rs.is_leaf_node %}
                                        <optgroup label="{{ rs.title }}">

                                        </optgroup>
                                    {% endif %}
                                {% endfor %}

							</select>
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
            <div class="pull-right">
                <ul class="header-btns">
                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">Account <i class="fa fa-caret-down"></i></strong>

                        </div>
                    </li>
                    <li class="header-top-links"></li>
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-star"></i></button>
                    </li>
                    <li class="header-cart dropdown default-dropdown">
                        <a href="/favorite/"><i class="fa fa-heart"></i></a>
                        <strong class="text-uppercase">Mening tanlaganlarim</strong>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
