{% load static %}
<div id="home">
    <div class="container">
        <div class="home-wrap">
            <div id="home-slick">
                <div class="banner banner-1">
                    <img src="{% static '0.png' %}" style="height: 600px" alt="">
                    <div class="banner-caption text-center">
                        <h1>Nimadir</h1>
                        <h3 class="white-color font-weak">So'nggi yangilik</h3>
                        <a href="#" class="primary-btn">O'qish</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>